.login-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}