.folder-item, .file-item {

  a {
    width: 100%;
    display: block;
  }

  button {
    width: 100%;
    text-align: left;
    
    &::after {
      display: none !important;
    }
  }

  .ellips-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0.2vw;
  }

  svg {
    vertical-align: text-top;
  }
}
